<configuration>
	<components>
		
		<!-- Begin -->
		<component
					 id="IAF_A_ASSET_ATT_ITEM_FILEService"
					 service="EVN.Core.PMIS.IAF_A_ASSET_ATT_ITEM_FILEService, EVN.Core"
					 type="EVN.Core.PMIS.AF_A_ASSET_ATT_ITEM_FILEService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\PMISConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
		<component
					 id="IAF_A_ASSET_ATT_ITEMService"
					 service="EVN.Core.PMIS.IAF_A_ASSET_ATT_ITEMService, EVN.Core"
					 type="EVN.Core.PMIS.AF_A_ASSET_ATT_ITEMService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\PMISConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
		<!--End-->
	</components>
</configuration>