<configuration>
	<components>
		<component
		 id="ApiService"
		 service="EVN.Core.CMIS.ApiService, EVN.Core"
		 type="EVN.Core.CMIS.ApiService, EVN.Core" lifestyle="transient">
			<parameters>
				<cmisUrl>http://10.9.194.72:7002</cmisUrl>
			</parameters>
		</component>

		<!-- Begin -->
		<component
					 id="IThongBaoService"
					 service="EVN.Core.IServices.IThongBaoService, EVN.Core"
					 type="EVN.Core.Implements.ThongBaoService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
		<component
							 id="IReportService"
							 service="EVN.Core.IServices.IReportService, EVN.Core"
							 type="EVN.Core.Implements.ReportService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
		<component
					 id="ICapDienApService"
					 service="EVN.Core.IServices.ICapDienApService, EVN.Core"
					 type="EVN.Core.Implements.CapDienApService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
					 id="ITThaiYeuCauService"
					 service="EVN.Core.IServices.ITThaiYeuCauService, EVN.Core"
					 type="EVN.Core.Implements.TThaiYeuCauService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
					 id="IHSKemTheoService"
					 service="EVN.Core.IServices.IHSKemTheoService, EVN.Core"
					 type="EVN.Core.Implements.HSKemTheoService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
					 id="ICauHinhDongBoService"
					 service="EVN.Core.IServices.ICauHinhDongBoService, EVN.Core"
					 type="EVN.Core.Implements.CauHinhDongBoService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
					 id="IBPhanCongViecService"
					 service="EVN.Core.IServices.IBPhanCongViecService, EVN.Core"
					 type="EVN.Core.Implements.BPhanCongViecService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
					 id="ITNgaiCongViecService"
					 service="EVN.Core.IServices.ITNgaiCongViecService, EVN.Core"
					 type="EVN.Core.Implements.TNgaiCongViecService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
					 id="ILyDoService"
					 service="EVN.Core.IServices.ILyDoService, EVN.Core"
					 type="EVN.Core.Implements.LyDoService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
					 id="ISendMailService"
					 service="EVN.Core.IServices.ISendMailService, EVN.Core"
					 type="EVN.Core.Implements.SendMailService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="IJWTTokenService"
		 service="EVN.Core.IServices.IJWTTokenService, EVN.Core"
		 type="EVN.Core.Implements.JWTTokenService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="ITemplateService"
		 service="EVN.Core.IServices.ITemplateService, EVN.Core"
		 type="EVN.Core.Implements.TemplateService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="IKeyStoresService"
		 service="EVN.Core.IServices.IKeyStoresService, EVN.Core"
		 type="EVN.Core.Implements.KeyStoresService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="IUserdataService"
		 service="EVN.Core.IServices.IUserdataService, EVN.Core"
		 type="EVN.Core.Implements.UserdataService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="IRoleService"
		 service="EVN.Core.IServices.IRoleService, EVN.Core"
		 type="EVN.Core.Implements.RoleService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="IPermissionService"
		 service="EVN.Core.IServices.IPermissionService, EVN.Core"
		 type="EVN.Core.Implements.PermissionService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="IModuleService"
		 service="EVN.Core.IServices.IModuleService, EVN.Core"
		 type="EVN.Core.Implements.ModuleService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="ICauHinhDKService"
		 service="EVN.Core.IServices.ICauHinhDKService, EVN.Core"
		 type="EVN.Core.Implements.CauHinhDKService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="ICongViecService"
		 service="EVN.Core.IServices.ICongViecService, EVN.Core"
		 type="EVN.Core.Implements.CongViecService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		   id="ITroNgaiService"
		   service="EVN.Core.IServices.ITroNgaiService, EVN.Core"
		   type="EVN.Core.Implements.TroNgaiService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="ILoaiYeuCauService"
		 service="EVN.Core.IServices.ILoaiYeuCauService, EVN.Core"
		 type="EVN.Core.Implements.LoaiYeuCauService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
					 id="IBoPhanService"
					 service="EVN.Core.IServices.IBoPhanService, EVN.Core"
					 type="EVN.Core.Implements.BoPhanService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
					 id="INhanVienService"
					 service="EVN.Core.IServices.INhanVienService, EVN.Core"
					 type="EVN.Core.Implements.NhanVienService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>


		<component
					 id="IDataLoggingService"
					 service="EVN.Core.IServices.IDataLoggingService, EVN.Core"
					 type="EVN.Core.Implements.DataLoggingService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
		<component
			 id="IMailCanhBaoTCTService"
			 service="EVN.Core.IServices.IMailCanhBaoTCTService, EVN.Core"
			 type="EVN.Core.Implements.MailCanhBaoTCTService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
		<!-- EVN.Core Services -->

		<component
				 id="IChuyenTiepService"
				 service="EVN.Core.IServices.IChuyenTiepService, EVN.Core"
				 type="EVN.Core.Implements.ChuyenTiepService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="IPhanCongKSService"
		 service="EVN.Core.IServices.IPhanCongKSService, EVN.Core"
		 type="EVN.Core.Implements.PhanCongKSService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="IKetQuaKSService"
		 service="EVN.Core.IServices.IKetQuaKSService, EVN.Core"
		 type="EVN.Core.Implements.KetQuaKSService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="IDvTienTrinhService"
		 service="EVN.Core.IServices.IDvTienTrinhService, EVN.Core"
		 type="EVN.Core.Implements.DvTienTrinhService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="IThoaThuanDNChiTietService"
		 service="EVN.Core.IServices.IThoaThuanDNChiTietService, EVN.Core"
		 type="EVN.Core.Implements.ThoaThuanDNChiTietService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="IOrganizationService"
		 service="EVN.Core.IServices.IOrganizationService, EVN.Core"
		 type="EVN.Core.Implements.OrganizationService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		id="ISystemConfigService"
		service="EVN.Core.IServices.ISystemConfigService, EVN.Core"
		type="EVN.Core.Implements.SystemConfigService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		 id="IDepartmentService"
		 service="EVN.Core.IServices.IDepartmentService, EVN.Core"
		 type="EVN.Core.Implements.DepartmentService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IBienBanKSService"
		  service="EVN.Core.IServices.IBienBanKSService, EVN.Core"
		  type="EVN.Core.Implements.BienBanKSService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="ITaiLieuKSService"
		  service="EVN.Core.IServices.ITaiLieuKSService, EVN.Core"
		  type="EVN.Core.Implements.TaiLieuKSService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IBienBanDNService"
		  service="EVN.Core.IServices.IBienBanDNService, EVN.Core"
		  type="EVN.Core.Implements.BienBanDNService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		   id="ICongVanYeuCauService"
		   service="EVN.Core.IServices.ICongVanYeuCauService, EVN.Core"
		   type="EVN.Core.Implements.CongVanYeuCauService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IHoSoGiayToService"
		  service="EVN.Core.IServices.IHoSoGiayToService, EVN.Core"
		  type="EVN.Core.Implements.HoSoGiayToService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IMaDichVuService"
		  service="EVN.Core.IServices.IMaDichVuService, EVN.Core"
		  type="EVN.Core.Implements.MaDichVuService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IQuyMoCongTrinhService"
		  service="EVN.Core.IServices.IQuyMoCongTrinhService, EVN.Core"
		  type="EVN.Core.Implements.QuyMoCongTrinhService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="ITramBienApService"
		  service="EVN.Core.IServices.ITramBienApService, EVN.Core"
		  type="EVN.Core.Implements.TramBienApService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="INoTemplateService"
		  service="EVN.Core.IServices.INoTemplateService, EVN.Core"
		  type="EVN.Core.Implements.NoTemplateService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<!-- End -->

		<!--Hợp đồng mua bán điện-->
		<component
		  id="ILoaiHopDongService"
		  service="EVN.Core.IServices.ILoaiHopDongService, EVN.Core"
		  type="EVN.Core.Implements.LoaiHopDongService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IThietBiService"
		  service="EVN.Core.IServices.IThietBiService, EVN.Core"
		  type="EVN.Core.Implements.ThietBiService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IThoaThuanDamBaoService"
		  service="EVN.Core.IServices.IThoaThuanDamBaoService, EVN.Core"
		  type="EVN.Core.Implements.ThoaThuanDamBaoService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IChiTietDamBaoService"
		  service="EVN.Core.IServices.IChiTietDamBaoService, EVN.Core"
		  type="EVN.Core.Implements.ChiTietDamBaoService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IThoaThuanTyLeService"
		  service="EVN.Core.IServices.IThoaThuanTyLeService, EVN.Core"
		  type="EVN.Core.Implements.ThoaThuanTyLeService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IMucDichThucTeSDDService"
		  service="EVN.Core.IServices.IMucDichThucTeSDDService, EVN.Core"
		  type="EVN.Core.Implements.MucDichThucTeSDDService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
		<component
			id="IGiaDienTheoMucDichService"
			service="EVN.Core.IServices.IGiaDienTheoMucDichService, EVN.Core"
			type="EVN.Core.Implements.GiaDienTheoMucDichService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IChamDutHopDongService"
		  service="EVN.Core.IServices.IChamDutHopDongService, EVN.Core"
		  type="EVN.Core.Implements.ChamDutHopDongService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
		<component
			id="IHeThongDDChamDutService"
			service="EVN.Core.IServices.IHeThongDDChamDutService, EVN.Core"
			type="EVN.Core.Implements.HeThongDDChamDutService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IHopDongService"
		  service="EVN.Core.IServices.IHopDongService, EVN.Core"
		  type="EVN.Core.Implements.HopDongService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
		<!--End-->

		<!--Nghiệm thu, đóng điện-->
		<component
			 id="IYCauNghiemThuService"
			 service="EVN.Core.IServices.IYCauNghiemThuService, EVN.Core"
			 type="EVN.Core.Implements.YCauNghiemThuService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
			 id="IBienBanNTService"
			 service="EVN.Core.IServices.IBienBanNTService, EVN.Core"
			 type="EVN.Core.Implements.BienBanNTService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
			 id="IBienBanKTService"
			 service="EVN.Core.IServices.IBienBanKTService, EVN.Core"
			 type="EVN.Core.Implements.BienBanKTService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		   id="IKetQuaKTService"
		   service="EVN.Core.IServices.IKetQuaKTService, EVN.Core"
		   type="EVN.Core.Implements.KetQuaKTService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
			 id="IThanhPhanKTService"
			 service="EVN.Core.IServices.IThanhPhanKTService, EVN.Core"
			 type="EVN.Core.Implements.ThanhPhanKTService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
				id="IThanhPhanKSService"
				service="EVN.Core.IServices.IThanhPhanKSService, EVN.Core"
				type="EVN.Core.Implements.ThanhPhanKSService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
				id="IPhanCongTCService"
				service="EVN.Core.IServices.IPhanCongTCService, EVN.Core"
				type="EVN.Core.Implements.PhanCongTCService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
				id="IKetQuaTCService"
				service="EVN.Core.IServices.IKetQuaTCService, EVN.Core"
				type="EVN.Core.Implements.KetQuaTCService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
				id="IBienBanTTService"
				service="EVN.Core.IServices.IBienBanTTService, EVN.Core"
				type="EVN.Core.Implements.BienBanTTService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
				id="ICongToService"
				service="EVN.Core.IServices.ICongToService, EVN.Core"
				type="EVN.Core.Implements.CongToService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
				id="IMayBienDienApService"
				service="EVN.Core.IServices.IMayBienDienApService, EVN.Core"
				type="EVN.Core.Implements.MayBienDienApService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
				id="IMayBienDongService"
				service="EVN.Core.IServices.IMayBienDongService, EVN.Core"
				type="EVN.Core.Implements.MayBienDongService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
				id="IMauHoSoService"
				service="EVN.Core.IServices.IMauHoSoService, EVN.Core"
				type="EVN.Core.Implements.MauHoSoService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
    <component
		  id="ILoaiCanhBaoService"
		  service="EVN.Core.IServices.ILoaiCanhBaoService, EVN.Core"
		  type="EVN.Core.Implements.LoaiCanhBaoService, EVN.Core" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

		<component
		 id="ICanhBaoService"
		 service="EVN.Core.IServices.ICanhBaoService, EVN.Core"
		 type="EVN.Core.Implements.CanhBaoService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<!--khaosat-->
		<component
		 id="IXacNhanTroNgaiService"
		 service="EVN.Core.IServices.IXacNhanTroNgaiService, EVN.Core"
		 type="EVN.Core.Implements.XacNhanTroNgaiService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<!--phanhoitraodoi-->
		<component
		 id="IPhanhoiTraodoiService"
		 service="EVN.Core.IServices.IPhanhoiTraodoiService, EVN.Core"
		 type="EVN.Core.Implements.PhanhoiTraodoiService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<!--Giấmtcapdien-->
		<component
		 id="IGiamsatcapdienService"
		 service="EVN.Core.IServices.IGiamsatcapdienService, EVN.Core"
		 type="EVN.Core.Implements.GiamsatcapdienService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
		<!--Giấmtcapdien-->
		<component
		 id="IGiamsatcapdienCanhBaoidService"
		 service="EVN.Core.IServices.IGiamsatcapdienCanhBaoidService, EVN.Core"
		 type="EVN.Core.Implements.GiamsatcapdienCanhBaoidService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<!--Giấmtcapdien1-->
		<component
		 id="IGiamSatCanhBaoCanhbaoidService"
		 service="EVN.Core.IServices.IGiamSatCanhBaoCanhbaoidService, EVN.Core"
		 type="EVN.Core.Implements.GiamSatCanhBaoCanhbaoidService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<!--Giấmtcapdien2-->
		<component
		 id="IGiamSatPhanhoiCanhbaoidService"
		 service="EVN.Core.IServices.IGiamSatPhanhoiCanhbaoidService, EVN.Core"
		 type="EVN.Core.Implements.GiamSatPhanhoiCanhbaoidService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<!--Giấmtcapdien3-->
		<component
		 id="IGiamSatCongVanCanhbaoidService"
		 service="EVN.Core.IServices.IGiamSatCongVanCanhbaoidService, EVN.Core"
		 type="EVN.Core.Implements.GiamSatCongVanCanhbaoidService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
    <component
		 id="ILogCanhBaoService"
		 service="EVN.Core.IServices.ILogCanhBaoService, EVN.Core"
		 type="EVN.Core.Implements.LogCanhBaoService, EVN.Core" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component
		 id="IEmailService"
		 service="EVN.Core.IServices.IEmailService, EVN.Core"
		 type="EVN.Core.Implements.EmailService, EVN.Core" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component
		 id="IUserNhanCanhBaoService"
		 service="EVN.Core.IServices.IUserNhanCanhBaoService, EVN.Core"
		 type="EVN.Core.Implements.UserNhanCanhBaoService, EVN.Core" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
		<!--End-->

		<!--LogCanhBaoService-->
		<component
		 id="ILogCanhBaoService"
		 service="EVN.Core.IServices.ILogCanhBaoService, EVN.Core"
		 type="EVN.Core.Implements.LogCanhBaoService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
		<!--IEmailService-->
		<component
		 id="IZaloService"
		 service="EVN.Core.IServices.IZaloService, EVN.Core"
		 type="EVN.Core.Implements.ZaloService, EVN.Core" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
		<!--End-->
	</components>
</configuration>