<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="MAIL_HOST" value="10.9.125.5"/>
		<add key="MAIL_PORT" value="25"/>
		<add key="MAIL_ACC" value="baogia_vttb@evnhanoi.vn"/>
		<add key="MAIL_PASS" value="Abcd@12345"/>
	</appSettings>
	<connectionStrings>
		<add name="SendMailDB" connectionString="User Id=UDUNG_TRUNGAP;Password=Admin123;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.9.175.22)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=CMIS3)));"/>
	</connectionStrings>
</configuration>
